<!DOCTYPE html>
<html>
  <head>
    <title>Today's Day</title>
    <style>
      .day {
        font-size: 3em;
        font-weight: bold;
        text-align: center;
        color: #3498db;
      }
    </style>
  </head>
  <body>
    <h1 class="day">Today Day is: <%= ejsDay %>.</h1>
  </body>
</html>
